<h1>Coffee Shops!!!!!!</h1>

<% for coffee in @coffee %>
    <p><a href="/coffee/<%= coffee[:id] %>"><%= coffee[:shop_name] %> - <%= coffee[:city]%>, <%= coffee[:state]%></a></p>
<% end %>

        <p class="mt-5">
            <% if @current_user %>
                <a href="/new_shop" class="btn btn-primary">Add a spot!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Log-in to add a spot!!</a>
            <% end %>
        </p>